In [23]:
import pandas as pd
import numpy as np

data = pd.read_csv('resale_flat_prices_based_on_registration_date_from_jan_2017_onwards.csv')
data['CCR'] = 0
data['RCR'] = 0
data['OCR'] = 0
data

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,CCR,RCR,OCR
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,0,0,0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,0,0,0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,0,0,0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,0,0,0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123048,2022-03,YISHUN,EXECUTIVE,355,YISHUN RING RD,10 TO 12,146.0,Maisonette,1988,65 years 08 months,800000.0,0,0,0
123049,2022-03,YISHUN,EXECUTIVE,277,YISHUN ST 22,10 TO 12,146.0,Maisonette,1985,62 years 06 months,788000.0,0,0,0
123050,2022-03,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,142.0,Apartment,1987,64 years 09 months,800000.0,0,0,0
123051,2022-03,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,142.0,Apartment,1988,64 years 11 months,723000.0,0,0,0
123052,2022-03,YISHUN,EXECUTIVE,877,YISHUN ST 81,10 TO 12,145.0,Maisonette,1987,64 years 09 months,818000.0,0,0,0

In [24]:
unqtowns = data['town'].unique()
print(unqtowns)
print(len(unqtowns))

['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG'
 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON'
 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN']
26

In [26]:
ccr = ['CENTRAL AREA', 'BUKIT TIMAH'] 
rcr = ['BISHAN','BUKIT MERAH','GEYLANG','KALLANG/WHAMPOA','MARINE PARADE','QUEENSTOWN', 'TOA PAYOH']
ocr = ['ANG MO KIO', 'BEDOK', 'BUKIT BATOK', 'BUKIT PANJANG','CHOA CHU KANG', 'CLEMENTI','HOUGANG', 'JURONG EAST', 'JURONG WEST', 'PASIR RIS',
      'PUNGGOL', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES', 'WOODLANDS', 'YISHUN']

len(ccr) + len(rcr) + len(ocr)

26

In [31]:
for i in range(len(data)) :
    if data.iloc[i,1] in ccr:
        data.iloc[i,11] = 1
    elif data.iloc[i,1] in rcr:
        data.iloc[i,12] = 1
    elif data.iloc[i,1] in ocr:
        data.iloc[i,13] = 1

In [38]:
data

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,CCR,RCR,OCR,low_storey,high_storey
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,0,0,1,0,1
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,0,0,1,1,0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,0,0,1,1,0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,0,0,1,1,0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123048,2022-03,YISHUN,EXECUTIVE,355,YISHUN RING RD,10 TO 12,146.0,Maisonette,1988,65 years 08 months,800000.0,0,0,1,0,0
123049,2022-03,YISHUN,EXECUTIVE,277,YISHUN ST 22,10 TO 12,146.0,Maisonette,1985,62 years 06 months,788000.0,0,0,1,0,0
123050,2022-03,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,142.0,Apartment,1987,64 years 09 months,800000.0,0,0,1,0,0
123051,2022-03,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,142.0,Apartment,1988,64 years 11 months,723000.0,0,0,1,0,0
123052,2022-03,YISHUN,EXECUTIVE,877,YISHUN ST 81,10 TO 12,145.0,Maisonette,1987,64 years 09 months,818000.0,0,0,1,0,0

In [39]:
data['low_storey'] = 0
data['high_storey'] = 0

In [40]:
low = ['01 TO 03','04 TO 06', '07 TO 09']

for i in range(len(data)) :
    if data.iloc[i,5] in low:
        data.iloc[i,14] = 1
    elif data.iloc[i,5] not in low:
        data.iloc[i,15] = 1

In [43]:
data['price per sqm'] = data['resale_price']/data['floor_area_sqm']
data['ln price'] = np.log10(data['resale_price'])

In [44]:
data

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,CCR,RCR,OCR,low_storey,high_storey,price per sqm,ln price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,0,0,1,0,1,5272.727273,5.365488
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,0,0,1,1,0,3731.343284,5.397940
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,0,0,1,1,0,3910.447761,5.418301
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,0,0,1,1,0,3897.058824,5.423246
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,0,0,1,1,0,3955.223881,5.423246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123048,2022-03,YISHUN,EXECUTIVE,355,YISHUN RING RD,10 TO 12,146.0,Maisonette,1988,65 years 08 months,800000.0,0,0,1,0,1,5479.452055,5.903090
123049,2022-03,YISHUN,EXECUTIVE,277,YISHUN ST 22,10 TO 12,146.0,Maisonette,1985,62 years 06 months,788000.0,0,0,1,0,1,5397.260274,5.896526
123050,2022-03,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,142.0,Apartment,1987,64 years 09 months,800000.0,0,0,1,1,0,5633.802817,5.903090
123051,2022-03,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,142.0,Apartment,1988,64 years 11 months,723000.0,0,0,1,1,0,5091.549296,5.859138
123052,2022-03,YISHUN,EXECUTIVE,877,YISHUN ST 81,10 TO 12,145.0,Maisonette,1987,64 years 09 months,818000.0,0,0,1,0,1,5641.379310,5.912753

In [47]:
data.to_csv(r'C:\Users\hrxta\OneDrive - National University of Singapore\Files\y2s2 sch drv\BT2101\BT2101 Final Proj related\updated resale flat pricing 2017 onwards.csv', 
          index = False, header=True)